.content-container {
  margin: 2rem;
  padding: 2rem;
  background: #efefef;
  height: -webkit-fill-available;
}

.content-container.form {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
