.section.login {
  display: flex;
}

.left-side {
  flex-basis: 50%;

  img {
    width: 100%;
    height: 85%;
  }
}

.right-side {
  flex-basis: 50%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    min-width: 200px;
  }

  .login-container {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px lightgrey;
    background-color: #fdfdfd;
  }
}
