.profile-info-container {
    display: flex;

    .info {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .field-group {
            min-width: 40%;
            border-bottom: 1px solid #3b47aa;
            margin: 10px;

            .field-name {
                font-size: 12px;
                color: #3b47aa;
            }
        }
    }

    .profile-img {
        width: 20%;
        border-radius: 100%;
        overflow: hidden;
    }
}