$primary-theme-color: gold;
$primary-theme-color-II: red;

// Sidebar
$primary-theme-sidebar-color: #3b47aa;
$primary-theme-sidebar-item-selected-color: #1e2887;
$primary-theme-sidebar-item-selected-highlight-color: #59b3f3;
$primary-theme-sidebar-font-color: #e4e7fd;
$primary-theme-font-color: #82bbd2;
